In [40]:
SELECT * from SalesLT.Product;

In [22]:
SELECT TOP (1000) [ProductID]
      ,[Name]
      ,[ProductNumber]
      ,[Color]
      ,[StandardCost]
      ,[ListPrice]
      ,[Size]
      ,[Weight]
      ,[ProductCategoryID]
      ,[ProductModelID]
      ,[SellStartDate]
      ,[SellEndDate]
      ,[DiscontinuedDate]
      ,[ThumbNailPhoto]
      ,[ThumbnailPhotoFileName]
      ,[rowguid]
      ,[ModifiedDate]
  FROM [AdventureWorksLT2012].[SalesLT].[Product]

In [42]:
select Name, StandardCost, ListPrice from SalesLT.Product;

In [45]:
select Name as ProductName, StandardCost, ListPrice from SalesLT.Product;

In [8]:
SELECT SellStartDate as Start, SellEndDate FROM SalesLT.Product;

In [48]:
select Name as ProductName, ListPrice, StandardCost, ListPrice - StandardCost as Size, Weight from SalesLT.Product;

In [51]:
SELECT Name as ProductName, Weight as OriginalWeight, Weight * 2 as DoubleWeight, Color from SalesLT.Product;

'a' 'abc'
char(5) -> 'abcde' -> 'abc  '
varchar(5) -> 'abc'

In [15]:
select Name as ProductName, StandardCost, ListPrice, Size, Weight from SalesLT.Product;

In [52]:
select ProductNumber, Color, Size, Color + ', ' + Size as ProductDetails from SalesLT.Product;

Implicit conversion gets done for you
-- Explicit conversiojn requires an explicit conversion function
-- Cast / Try_Cast
-- Convert / Try_Convert

In [58]:
Select CAST(ProductID as varchar(5)) + ': ' + Name as ProductID from SalesLT.Product;

In [56]:
SELECT CAST(Weight as nvarchar(10)) + ': ' + CAST(ProductID as varchar(10)) as WeightID from SalesLT.Product;

In [57]:
Select CONVERT(varchar(5), ProductID) + ': ' + Name as ProductName from SalesLT.Product;

In [59]:
SELECT CONVERT(varchar(10), Weight) + 'LBS ' as USWeight from SalesLT.Product;

In [39]:
Select SellStartDate, 
    CONVERT(nvarchar(30), SellStartDate) as ConvertedDate,
    CONVERT(nvarchar(30), SellStartDate, 126) as ISO860Format
 from SalesLT.Product;

In [60]:
Select Name, CAST(Size as Integer) as NumericSize from SalesLT.Product;

In [61]:
Select Name, TRY_CAST(Size as Integer) as NumericSize from SalesLT.Product;
-- Incompatible data types returned as NULL

In [66]:
SELECT Size, TRY_CAST(Size as Integer) * 3 as TripleSize from SalesLT.Product;

In [65]:
Select Name, ISNULL(TRY_CAST(Size as Integer), 0) as NumericSize from SalesLT.Product;

In [68]:
SELECT ISNULL(MiddleName, 'DNP') as NewMiddleName from SalesLT.Customer;

In [70]:
Select ProductNumber,
    ISNULL(Color, '') + ', ' + ISNULL(Size, '') as ProductDetails
from SalesLT.Product;

In [33]:
Select Name, NULLIF(Color, 'Multi') as SingleColor from SalesLT.Product

In [32]:
Select Name, ISNULL(NULLIF(Color, 'Multi'), 'Put multi') as SingleColor from SalesLT.Product

In [34]:
Select Name, Coalesce(DiscontinuedDate, SellEndDate, SellStartDate) as FirstNotNull from SalesLT.Product;

In [36]:
SELECT Name, Coalesce(Weight, TRY_CAST(Size as Integer)) as FirstValidWeightSize from SalesLT.Product;

In [10]:
Select Name,
    Case 
        When SellEndDate IS NULL Then 'On Sale'
        Else 'Discontinued'
    End as SaleStatus
from SalesLT.Product;

In [37]:
Select Name,
    Case Size
        When 'S' Then 'Small'
        When 'M' Then 'Meduim'
        When 'L' Then 'Large'
        When 'XL' Then 'Extra-Large'
        Else ISNULL(Size, 'n/a')
    End as SizeStatus
from SalesLT.Product;

In [38]:
SELECT Name,
    Case 
        When Color = 'Multi' then 'Follow Instructions'
        Else 'Good job'
    End as JobStatus
from SalesLT.Product

In [39]:
SELECT FirstName,
    CASE Title 
        When 'Mr.' then 'Male'
        When 'Ms.' then 'Female'
        When 'Mrs.' then 'Female'
        Else 'I dont know'
    End as Gender
from SalesLT.Customer;

HW:
Q1: Give all information from the customer table
Q2: First Name, Middle Name, Last Name, Email Address, Phone Number
Q3: Product Name, Number, Color, Size, Weight, Date Started Selling, Profit Made From Product
Q4: Info in 3 with discontinued date
Q5: Product ID, Sales order ID, Unit Price, Unit Price Discount, Line Toal Amount

In [1]:
Select * from SalesLT.Customer

In [2]:
Select FirstName, MiddleName, LastName, EmailAddress, Phone from SalesLT.Customer;

In [4]:
Select  Name, Color, Size, Weight, SellStartDate, ListPrice - StandardCost as Profit from SalesLT.Product

In [14]:
Select  Name, Color, Size, Weight, SellStartDate, DiscontinuedDate, ListPrice - StandardCost as Profit from SalesLT.Product

In [22]:
Select 
    SalesLT.Product.ProductID, SalesOrderID, UnitPrice, UnitPriceDiscount, LineTotal 
    from SalesLT.Product, SalesLT.SalesOrderDetail 
Where SalesLT.Product.ProductID = SalesLT.SalesOrderDetail.ProductID;

In [5]:
Select FirstName + ' ' + LastName from SalesLT.Customer

In [6]:
Select 'My name is: ' + FirstName as FirstName from SalesLT.Customer

In [14]:
Select Name, ProductCategoryID, ProductNumber
From SalesLT.Product
Where ProductCategoryID NOT IN (3,4,5)

In [18]:
Select Name, ProductCategoryID, ProductNumber
From SalesLT.Product
Where Name Like '%[aA]%'

In [0]:
Select Name, ProductCategoryID, ProductNumber, ListPrice
From SalesLT.Product
Where ListPrice > 100 AND ProductCategoryID <> 0